[Unit]
Description=fancontroller daemon
Requires=fancontroller.socket
After=network.target

[Service]
PIDFile=/run/fancontroller/pid
User=fancontroller
Group=fancontroller
RuntimeDirectory=fancontroller
WorkingDirectory=/opt/fancontroller/repository
Environment="PATH=/opt/fancontroller/environment/bin"
ExecStart=gunicorn --pid /run/fancontroller/pid   \
          --bind unix:/run/fancontroller/socket webapp:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target